@keyframes slide {
  from{
  left:-100px;
  opacity:0;
} to{
  left:100px;
  opacity:1;
} }

h1{
  position: absolute;
  display: inline-block;
  top: 20px;
  left: 100px;
  font-size: 3em ;
  font-family: sans-serif;
  color: white;
  width:500px;
  -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
  animation: slide 2s ease-out;
}

h1::after{
  content:"";
  display:block;
  position:absolute;
  top:0;
  right:-5px;
  height:100%;
  width:2px;
  background-color: white;
}
h1.active::after{
  display:none;
}
a{
  text-decoration: none;
  color: white;
}
ul {
  list-style:none;
  color: white;
  font-family: monospace;
  font-size: 1.3em;
  position: absolute;
  top:190px;
  left:400px;
  text-decoration: none;
}

li{
  list-style:none;
  float: left;
}
li a{
  margin-right: 40px;
}
section{
  height: 250px;
  background-color: rgb(239,144,127);
  background-attachment: scroll;
  background-size: 100%;
}
body{
  margin:0px;
  height: 2000px;
}
@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.look{
  text-align: center;
  color: rgb(239,144,127);
  animation: blink-effect 1s step-end infinite;
}
.mindmap{
  text-align: center;
  padding: 40px 0px;
}
.mindmap a{
    display: inline-block;
    text-align: center;
    color: RGB(155,172,141);
    font-family: monospace;
    font-size:2em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}
.mindmap a:hover {
  -webkit-transform: scale(1.3,1.3);
  -moz-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
      -ms-transform: scale(1.3,1.3);
      transform: scale(1.3,1.3);
}

#menu1{
  height: 400px;
}
#menu2{
  height: 450px;
  background-color: RGB(253,212,199);
}
#menu3{
  height: 450px;
  background-color: white;
}
#menu4{
  height: 450px;
  background-color:RGB(155,172,141);
}
.myfav {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
figcaption{
  font-family: monospace;
  color: black;
}


.close{
  color:#aaa;
  float:right;
  font-size:28px;
  font-weight: bold;

}
.close:hover, .close:focus{
  color:black;
  text-decoration: none;
  cursor: pointer;
}
.material-symbols-outlined {
  font-size:60px;
  margin-right: 30px;
  color: white;
}
.icon{
    border: 3.5px solid white;
    border-radius: 25px;
    display: block;
    position: relative;
    padding: 50px 100px;
    text-align: center;
    width:300px;
    margin: 50px auto;

}
.contactinfo{
  color: white;
  font-size: 1.5em;
  position: relative;
  bottom: 20px;
}
/* photo slide */
.slide_wrapper{
  position: relative;
  width: 680px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;

}
.pho{
  width:220px;
}
.slides{
  padding:0;
 margin:0;
  left:0px;
  top:0px;
  position: absolute;
  transition: left 0.5s ease-out;
}

.slides li:not(:last-child){
  float: left;
  margin-right: 10px;
}
.control{
  text-align: center;
  margin-top: 30px;
}
.control span{
  background: RGB(253,212,199);
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.control span.prev{
  right:calc(100%+ 50px);
}
.control span.next{
  left:calc(100%+ 50px);
}

/* modal */
.yuzu{

}

.modal{
  border: 3px solid RGB(155,172,141);
  background-color: RGB(253,212,199);
  position: absolute;
  top:60%;
  left:50%;
  width:35%;
  height:45%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%,-50%);
}
.modal_overlay{
  background-color: yellow;
  width:100%;
  height:100%;
  position: absolute;

}
.modal_content{
  background-color: RGB(253,212,199);
  color: RGB(155,172,141);
  padding: 20px;
  position: relative;
  text-align: center;
  top:0;
}
.modalProf{
  color: RGB(155,172,141);
}
.hidden{
  display:none;
}

#yuzu{
  cursor: pointer;
}
